{% extends "base.html.twig" %}

{% block body %}
    <h1 class="text-center">All auctions</h1><br>
    
    <ul style="position: relative;" class="list-group">
        {% for auction in auctions %}
            <li class="list-group-item">
                <div class="row auction-entry">
                    {% if auction.images.count > 0 %}
                    <div class="col-md-3 auction-image">
                        <a href="#" class="thumbnail">
                            <img class="thumbnail-image" data-src="holder.js/100%x100" src="{{ auction.getFirstImage }}">
                            <!--<img class="full-image" src="{{ auction.getFirstImage }}">-->
                        </a>
                    </div>
                    {% endif %}
                    <div class="col-md-9">
                        <h4>
                            <a href="{{ path('auction_single', {'id': auction.id}) }}">
                                {{ auction.title }}
                            </a>
                        </h4>
                        <p class="auction-meta">
                            Added by 
                            {{ auction.user.username }} 
                            on {{ auction.dateAdded | date('Y-m-d') }}
                            , ends on {{ auction.endDate | date('Y-m-d') }}
                        </p>
                        <p class="auction-description">
                            {{ auction.description }}
                        </p>
                        <p class="action-price">
                            <span class="text-label">Price:</span> {{ auction.price }}
                        </p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter="compass" 'sass/auction/auctions.scss' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="//localhost:35729/livereload.js"></script>
    {{ parent() }}
    {% javascripts 'js/utilities/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}