{% extends "base.html.twig" %}

{% block title %}
    {{ auction.title }} -
{% endblock %}

{% block body %}
    <div class="single-auction col-md-10 col-md-offset-1">
        {% include 'BraincraftedBootstrapBundle::flash.html.twig' %}
        {% if not active %}
            <div class="alert alert-warning text-center text-uppercase">
                This auction has ended.
            </div>
        {% endif %}
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="auction-title">{{ auction.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 auction-category">
                <span>
                    CATEGORY: 
                    {% for category in parent_categories %}
                        <a href="{{ path('category_single', {'category': category.id }) }}"> {{ category.name }} </a> /
                    {% endfor %}
                    <a href="{{ path('category_single', {'category': auction.category.id }) }}"> {{ auction.category.name }} </a>
                </span>
                
                {% if auction.getUser.id == app.user.id and active %}
                <a class="form-edit-link" href="{{ path('auction_edit', {'id': auction.id }) }}">
                    <button type="submit" name="btn-auction-edit" class="btn btn-default btn-custom-red">
                        Edit
                    </button>
                </a>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% if auction.images.count > 0 %}
            <div class="col-md-5 col-sm-5 col-sm-offset-0 col-xs-8 col-xs-offset-2 auction-image">
                <div class="photoset" data-layout="122" style="visibility: hidden;">
                    {% for image in auction.images %}
                        <!-- <a href="{{ asset(image.getWebPath) }}"> -->
                            <img src="{{ asset(image.getWebPath) }}" data-highres="{{ asset(image.getWebPath) }}">
                        <!-- </a> -->
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="col-md-7 col-sm-7 col-xs-12 auction-meta">
                <p><strong>Price:</strong> {{ auction.price | number_format(2, ',', ' ') }}</p>
                <p><strong>Placed by:</strong> {{ auction.user.username }}</p>
                <p><strong>Started on:</strong> {{ auction.startDate | date('Y-m-d') }}</p>
                <p>
                    <strong>
                        {% if active %}
                            Ends on:
                        {% else %}
                            Ended on:
                        {% endif %}
                    </strong> 
                    {{ auction.endDate | date('Y-m-d') }}
                </p>
                {% if active %}
                    <p>
                        <strong>
                            Time left:
                        </strong>
                        {{ auction.getDaysLeft }} days
                    </p>
                {% endif %}
                <div class="auction-votes col-md-12 auction-votes-{{ auction.id }}">
                    <div class="votes-up">
                        <input type="hidden" value="1" name="type">
                        <input type="hidden" value="auction" name="entity_type">
                        <input type="hidden" value="{{ auction.id }}" name="entity_id">
                        <span class="votes-up-count">
                            {{ auction.getVotesCount['up'] }}
                        </span>
                        <span class="glyphicon glyphicon-thumbs-up vote-up"></span>
                    </div>
                    <div class="votes-down">
                        <input type="hidden" value="0" name="type">
                        <input type="hidden" value="auction" name="entity_type">
                        <input type="hidden" value="{{ auction.id }}" name="entity_id">
                        <span class="glyphicon glyphicon-thumbs-down vote-down"></span>
                        <span class="votes-down-count">
                            {{ auction.getVotesCount['down'] }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 auction-description">
                <p>{{ auction.description | raw }}</p>
            </div>
        </div>
        <div class="row address-row">
            <div class="col-md-6 auction-address">
                <h3>{{ icon('envelope') }} Auction address</h3>
                {% if auction.address %}
                    <p><strong>Street:</strong> {{ auction.address.street }}</p>
                {% endif %}
                {% if auction.address %}
                    <p><strong>Postcode:</strong> {{ auction.address.postcode }}</p>
                {% endif %}
                {% if auction.address %}
                    <p><strong>City:</strong> {{ auction.address.city }}</p>
                {% endif %}
                {% if auction.address %}
                    <p><strong>Country:</strong> {{ auction.address.country }}</p>
                {% endif %}
            </div>
            <div class="col-md-6 auction-address-map">
                <h3>{{ icon('map-marker') }} Place on map</h3>
                {% if map %}
                    {{ google_map(map) }}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 auction-views">
                <p>{{ icon('stats') }} Viewed {{ auction.views }} times</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 auction-bids">
                <h3>{{ icon('th-list') }}
                    {% if active %} Current bids {% else %} Bid history {% endif %}
                </h3>
                {% if highest_bid %}
                    <h4>
                        {% if active %} Current highest bid is {% else %} Highest bid was {% endif %}
                        <span class="highest-bid">
                            {{ highest_bid.price }}
                        </span>
                    </h4>
                {% else %}
                    <h4>There are no bids. Be the first!</h4>
                {% endif %}
                {% if bids | length > 0 %}
                    {% for bid in bids %}
                        <div class="bid-entry">
                            <p>
                                {{ icon('record') }}
                                <span class="bid-price">
                                    {{ bid.price }}
                                </span>
                                placed by {{ bid.user.username }}
                                on 
                                <span class="bid-date">
                                    {{ bid.date | date('Y-m-d H:i:s') }}
                                </span>
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-6 auction-new-bid">
                {% if active and app.user.id != auction.user.id %}
                <h3>{{ icon('shopping-cart') }} Place new bid</h3>
                <form action="" method="post" {{ form_enctype(bid_form) }} novalidate>
                    {{ form_widget(bid_form) }}
                    {{ form_rest(bid_form) }}
                    <button type="submit" class="btn btn-default">
                        {{ icon('ok') }}
                        Place it
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="comment-button col-md-12">
                <a href="" class="comment-trigger">
                    Show comments 
                </a>
                <span class="comment-count">
                    ({{ auction.comments | length }})
                </span>
                <div class="auction-comments-{{ auction.id }} comments-home col-md-12">
                    <div class="col-md-12">
                        <form action="{{ path('comment_auction_add') }}" method="post">
                            <input type="hidden" name="auction_id" value="{{ auction.id }}">
                            <div class="form-group">
                                <textarea class="form-control" name="content"></textarea>
                            </div>
                            <button type="submit" class="btn btn-default">
                                Comment
                            </button>
                        </form>
                    </div>
                    {% for comment in auction.comments %}
                        <div class="col-md-12 comment-entry">
                            <p class="comment-meta">
                                {% if comment.user.avatar %}
                                    <img class="wall-avatar img-circle" src="{{ comment.user.avatar.getWebPath }}">
                                {% endif %}
                                posted by 
                                <a href="{{ path('user_view', {'user': comment.user.id }) }}">
                                    {{ comment.user.username }}
                                </a>
                                on {{ comment.dateAdded | date('Y-m-d H:i:s') }}
                            </p>
                            <p class="comment-text">
                                {{ comment.text }}
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
                
    {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('js/utilities/lightbox/css/lightbox.css') }}">
    <!-- <link rel="stylesheet" href="{{ asset('js/utilities/photoset-grid/css/main.css') }}"> -->
    {% stylesheets filter="compass" 'sass/auction/single.scss' %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="//localhost:35729/livereload.js"></script>
    <script src="{{ asset('js/utilities/lightbox/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('js/utilities/photoset-grid/jquery.photoset-grid.min.js') }}"></script>
    {{ parent() }}
    
    {% javascripts 'js/auctions/single_view.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}