{% extends "profile/profile_layout.html.twig" %}
{% trans_default_domain "polish" %}

{% block title %}
    {{ app.user.username }} {{'profile' | trans }}
{% endblock %}

{% block profile_page_content %}
    <h3>{{'Your account state' | trans }}</h3>
    <h3>{{ total | number_format(2, ',', ' ') }} {{'left to pay' | trans }}</h3>
    
    {{ knp_pagination_render(auctions) }}
    
    <div class="col-md-12">
        <h3>{{'Your auctions' | trans }}</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>&nbsp;</th>
                        <th>{{'Title' | trans }}</th>
                        <th>{{'Price' | trans }}</th>
                        <th>{{'Status' | trans }}</th>
                        <th>{{'Ended' | trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for auction in auctions %}
                        <tr>
                            <td>
                                {% if auction.images | length > 0 %}
                                    <img src="{{ asset(auction.getFirstImage)}}">
                                {% else %}
                                    No image
                                {% endif %}
                            </td>
                            <td>
                                <a href="{{ path('auction_single', {'id': auction.id }) }}">
                                    {{ auction.title }}
                                </a>
                            </td>
                            <td>
                                {{ auction.price | number_format(2, ',', ' ') }}
                            </td>
                            <td>
                                {% if auction.paid %}
                                    <button class="btn btn-default button-blue">{{'Paid' | trans }}</button>
                                {% else %}
                                    <a class="btn btn-default button-red payment-confirm" href="{{ path('profile_pay', {'user': app.user.id, 'auction': auction.id }) }}">
                                        {{'Not paid - click to pay' | trans }}
                                    </a>
                                {% endif %}
                            </td>
                            <td>
                                {{ auction.endDate | date('Y-m-d H:i:s') }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}