{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    
    {% stylesheets 'sass/profile/*' filter='compass' %}
        <link href="{{ asset_url }}" rel="stylesheet">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div class="row profile-wrap">
        <div class="col-md-3 profile-sidebar">
            <ul class="nav nav-pills nav-stacked sidebar-nav">
                <li><a href="{{ path('profile_index', {'id': app.user.id}) }}">Profile</a></li>
                <li><a href="{{ path('profile_auctions') }}">Auctions</a></li>
                <li><a href="{{ path('profile_address', {'id': app.user.id }) }}">Address</a></li>
                <li><a href="{{ path('profile_payments', {'user': app.user.id }) }}">Payments</a></li>
            </ul>
        </div>
        <div class="col-md-8 profile-content col-md-offset-1">
            {% block profile_page_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {% javascripts 'js/profile/*' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
    