{% extends '::layout.html.twig' %}

{# navigation bar notifications #}
{% block nav_notifications %}
    {% render path('partial_notifications') %}
{% endblock %}

{# avatar image in navigation bar #}
{% block top_avatar %}
    {% if not (is_granted('ROLE_SUPER_ADMIN')) and app.user and app.user.avatar %}
        <div class="nav-avatar">
            <a href="{{ path('profile_index', {'id': app.user.id }) }}">
                <img src="{{ asset( app.user.avatar.getWebPath ) }}" alt="No image">
            </a>
        </div>
    {% endif %}
{% endblock %}

{# navigation links #}
{% block nav_links %}
    <ul class="nav-links">
    {% if app.user is null %}
        <li>
            <a href="{{ path('access_login') }}">Login</a>
        </li>
        <li>
            <a href="{{ path('account_register') }}">Sign up</a>
        </li>
    {% else %}
        {% if not is_granted('ROLE_SUPER_ADMIN') %}
        {% block user_specific_links %}
            <li class=" nav-dropdown" href="#">
                <a class="title" href="{{ path('category_all') }}">Categories</a>
            </li>
            <li class=" nav-dropdown" href="#">
                <a class="title" href="{{ path('auctions_all') }}">{{ icon('shopping-cart') }} Auctions</a>
                <ul>
                    <li><a href="{{ path('auction_new') }}">Add auction</a></li>
                    <li><a href="{{ path('auctions_all') }}">Browse all</a></li>
                    <li><a href="#">Browse friends auctions</a></li>
                </ul>
            </li>
            <li>
                <a href="{{ path('profile_index', { 'id': app.user.id }) }}"> {{ icon('user') }} Profile</a>
            </li>
        {% endblock %}
        {% endif %}
        <li>
            <a href="{{ path('logout') }}"> {{ icon('log-out') }} Logout</a>
        </li>
    {% endif %}
    </ul>
{%  endblock %}

{% block javascripts %}
    <script src="//localhost:35729/livereload.js"></script>
    {{ parent() }}
{% endblock %}