{% extends '::base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'sass/home/*' filter="compass"%}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    Hello {{ app.user.username }}
    
    {% for address in addresses %}
        {{ address.street }} <br>
        {{ address.city }} <br>
        {{ address.country.name }} <br>
        <p>Some text</p>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}