{% block text_label %}
    <h4>{{ form_label(form) }}</h4>
{% endblock %}

{% block file_label %}
    {{ block('text_label') }}
{% endblock %}

{% block date_label %}
    {{ block('text_label') }}
{% endblock %}

{% block number_label %}
    {{ block('text_label') }}
{% endblock %}

{% block choice_label %}
    {{ block('text_label') }}
{% endblock %}

{% block form %}
    <form novalidate action="" method="post" enctype="multipart/form-data">
        <div class="col-md-12">
            <h3>Basic information</h3>
        </div>
        
        <div class="col-md-12">
            {{ form_errors(form) }}

            {{ form_label(form.title) }}
            {{ form_widget(form.title) }}

            {{ form_label(form.description) }}
            {{ form_widget(form.description) }}
        </div>
        
        <div class="col-md-3">
            {{ form_label(form.startDate) }}
            {{ form_widget(form.startDate) }}
        </div>
        
        <div class="col-md-3">
            {{ form_label(form.endDate) }}
            {{ form_widget(form.endDate, {'attr': {'data-provide': 'datepicker'} }) }}
        </div>
        
        <div class="col-md-3">
            {{ form_label(form.price) }}
            {{ form_widget(form.price) }}
        </div>

        <div class="col-md-3">
            {{ form_label(form.category) }}
            {{ form_widget(form.category) }}
        </div>
        
        <div class="col-md-12">
            <h3>Auction address</h3>
        </div>
        
        <div class="col-md-6">
            {{ form_label(form.address.street) }}
            {{ form_widget(form.address.street) }}
        </div>
        
        <div class="col-md-6">
            {{ form_label(form.address.postcode) }}
            {{ form_widget(form.address.postcode) }}
        </div>
        
        <div class="col-md-6">
            {{ form_label(form.address.city) }}
            {{ form_widget(form.address.city) }}
        </div>
        
        <div class="col-md-6">
            {{ form_label(form.address.country) }}
            {{ form_widget(form.address.country) }}
        </div>
        
        <div class="col-md-12">
            <h3>Auction images gallery</h3>
        </div>
        
        <div class="col-md-12" id="images-list" data-prototype="{{ form_widget(form.images.vars.prototype)|e }}">
            <p>{{ form_widget(form.images) }}</p>
        </div>
        
        <div class="col-md-12">
            <button type="button" class="btn btn-default button-blue" id="image-add">Add image</button>
        </div>
        
        <div class="col-md-12">
            <h3>Privacy option</h3>
        </div>
        
        <div class="col-md-12">
            {{ form_widget(form.private) }}
            {{ form_label(form.private) }}
        </div>
        
        <div class="col-md-12">
            <button type="submit" class="btn btn-default button-blue">Add it!</button>
        </div>
        
        {{ form_end(form) }}
    </form>
{% endblock %}