{% extends 'admin/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'sass/admin/manage/users.scss' filter="compass" %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block admin_page_title %}
        Manage users
{% endblock %}

{% block admin_left_nav %}
    <li><a href="{{ path('admin_users_add') }}">Add user</a></li>
    <li><a href="#">Delete user</a></li>
    <li><a href="#">Edit user</a></li>
    <li><a href="#">Block an account</a></li>
{% endblock %}
    
{% block body %}
    {{ parent() }}
{% endblock %}

{% block admin_page_content %}
    <h1 class="text-center admin-title">List of 10 newest users</h1>
    <ul class="list-group user-list">
        <li class="list-group-item list-group-item-heading list-group-item-success">
            List of users
        </li>
        {% for user in users %}
            <li class="list-group-item">
                {% if user.avatar %}
                    <img src="{{ asset(user.avatar.getWebPath) }}" alt="no avatar">
                {% else %}
                    <img src="/images/light_honeycomb.png" alt="no avatar">
                {% endif %}
                <div class="user-details">
                    <span><a href="#">{{ user.username }}</a></span>
                    <span>{{ user.email }}</span>
                    <span>{{ user.isActive }}</span>
                    <span>{{ user.dateAdded|date('Y-m-d') }}</span>
                    <span class="pull-right">
                        <a href="#"><button class="btn btn-danger" type="button">Delete</button></a>
                    </span>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %} 