{% extends 'admin/index.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'sass/admin/manage/users.scss' filter="compass" %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block admin_page_title %}
        Manage users
{% endblock %}

{# block admin_left_nav %}
    <li><a href="{{ path('admin_users_add') }}">Add user</a></li>
    <li><a href="#">Delete user</a></li>
    <li><a href="#">Edit user</a></li>
    <li><a href="#">Block an account</a></li>
{% endblock #}
    
{% block body %}
    {{ parent() }}
{% endblock %}

{% block admin_page_content %}
    <h1 class="text-center admin-title">List of users</h1>
    <div class="col-md-12 text-center pagination-small">
        {{ knp_pagination_render(users) }}
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>User ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Active</th>
                    <th>Added</th>
                    <th>Block account</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>
                            {% if user.avatar %}
                                <img src="{{ asset(user.avatar.getWebPath) }}" alt="no avatar">
                            {% else %}
                                <img src="/images/light_honeycomb.png" alt="no avatar">
                            {% endif %}
                            {{ user.username }}
                        </td>
                        <td>
                            {{ user.email }}
                        </td>
                        <td>
                            {% if user.isActive %} YES {% else %} NO {% endif %}
                        </td>
                        <td>
                            {{ user.dateAdded|date('Y-m-d') }}
                        </td>
                        <td class="td-button">
                            <a href="{{ path('admin_users_block', {'user': user.id }) }}">
                                <button type="submit" class="btn btn-warning" type="button">
                                    {% if user.isActive %} Block {% else %} Unblock {% endif %}
                                </button>
                            </a>
                        </td>
                        <td class="td-button">
                            <a href="{{ path('admin_users_edit', {'user': user.id }) }}">
                                <button type="submit" class="btn btn-success" type="button">Edit</button></a>
                            </a>
                        </td>
                        </td>
                        <td class="td-button">
                            <a href="{{ path('admin_users_delete', {'user': user.id }) }}">
                                <button type="submit" class="btn btn-danger" type="button">Delete</button></a>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %} 